@import '../../App.css';

.course_content {
    display: grid;
    grid-auto-flow: column;
    height: 100%;
    overflow: scroll;
    grid-template-columns: max-content;
}

.buttonsAndAssignments {
    margin-left: 2em;
    margin-right: 4em;
}

.buttons {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.button {
    margin: 1.5em 1.5em 1em;
    height: 3em;
    padding: 1em 1.5em;
    font-size: 1em;
}

.course_content button.primaryBtn {
    background-color: var(--light-deep-colour);
    border-color: var(--light-deep-colour);
}

.course_content button.primaryBtn:hover {
    background-color: var(--deep-colour);
}

.course_content button.primaryBtn:focus {
    box-shadow: 0px 10px 15px var(--light-deep-colour);
}

.course_content button.secondaryBtn {
    background-color: var(--dark-header-colour);
    border-color: var(--dark-header-colour);
}

.course_content button.secondaryBtn:hover {
    background-color: grey;
}

.course_content button.secondaryBtn:focus {
    box-shadow: 0px 10px 15px var(--light-deep-colour);
}

.button span:not(.work) {
    display: none;
    transition: .3s;
}

.button span {
    margin-left: .5rem;
}

.assignments-and-labels {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 3em;
}