.course-content {
    display: grid;
    grid-auto-flow: column;
    height: 100%;
    overflow: scroll;
}

.buttons {
    font-size: 1.5rem;
}

button {
    margin: 1.5em 1.5em 1em;
    height: 3em;
    padding: 1em 1.5em;
    font-size: 1em;
}

button span:not(.work) {
    display: none;
    transition: .3s;
}

button span {
    margin-left: .5rem;
}