/* =============================
        1. Global/variables
        2. Typography
        3. General Style
        4. Layout
        5. Section Specifics
           a. Hero
           b. Navbar
           c. Vision
           d. Features
           e. Teams
           f. Sign Up
           g. Footer
   ============================= */

/* === 1. Global / Variables === */
:root {
    --primary-colour: #c92c9e;
    --primary-medium-colour: #822567;
    --primary-dark-colour: #411934;
    --secondary-colour: #ee8c2f;
    --accent-colour: #50b99a;
}

body {
    background-color: var(--primary-colour);
    margin: 0;
    scroll-behavior: smooth;
}

/* === 2. Typography =========== */
body {
    font-family: lexend, sans-serif;
}

/* === 3. General Style ======== */
/* === 4. Layout =============== */
nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

#logo-and-title {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    overflow: hidden;
}

nav li {
    display: inline-block;
}

body > article {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.members {
    display: flex;
}
/* === 5. Section Specifics ==== */
/* --- a. Hero ----------------- */
/* --- b. Navbar --------------- */
/* --- c. Vision --------------- */
/* --- d. Features ------------- */
/* --- e. Teams ---------------- */
/* --- f. Sign Up -------------- */
/* --- g. Footer --------------- */