/* =============================
        1. Global/variables
        2. Typography
        3. General Style
        4. Layout
        5. Section Specifics
           a. Hero
           b. Navbar
           c. Vision
           d. Features
           e. Teams
           f. Sign Up
           g. Footer
   ============================= */

/* === 1. Global / Variables === */
:root {
    --primary-colour: #c92c9e;
    --primary-medium-colour: #822567;
    --primary-dark-colour: #411934;
    --secondary-colour: #ee8c2f;
    --accent-colour: #50b99a;
}

body {
    background-color: var(--primary-colour);
    margin: 0;
    scroll-behavior: smooth;
}

/* === 2. Typography =========== */
body {
    font-family: lexend, sans-serif;
}

/* === 3. General Style ======== */
/* === 4. Layout =============== */
/* === 5. Section Specifics ==== */
/* --- a. Hero ----------------- */
/* --- b. Navbar --------------- */
/* --- c. Vision --------------- */
/* --- d. Features ------------- */
/* --- e. Teams ---------------- */
/* --- f. Sign Up -------------- */
/* --- g. Footer --------------- */