.card {
    border: 2px solid grey;
    cursor: move;
    font-size: 1.25rem;
    display: flex;
    margin: 2rem;
    min-width: calc(100vw - 3rem - 4rem);
    flex-flow: row nowrap;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

@media only screen and (max-width: 875px) {
    .card {
        flex-wrap: wrap;
    }
}