.assignments {
    margin: 3rem 1.5rem;
    min-width: fit-content;
    font-size: clamp(.75rem 2.25vw 1.5rem);
}

.assignments .assignment:last-child {
    margin-bottom: 2rem;
}

.assignment p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: .5rem 0 .75rem .5rem;
}

.assignment .title,
.assignment .title p {
    width: 250px;
}

.assignment .title:hover > p {
    overflow: auto;
    white-space: normal;
}

.assignment-title {
    white-space: normal;
}

.assignment .type,
.assignment .title {
    cursor: pointer;
}

/* @media only screen and (max-width: 915px) {
    .assignment .title {
        width: max-content;
    }
} */