@import '../../App.css';

.tags {
    display: grid;
    justify-items: center;
    align-items: center;
    color: black;
}

.buttons_n_tags {
    display: grid;
}

.tags .view_all_button,
.tags .add,
.tags .tag {
    background-color: transparent;
    color: black;
    border: none;
    font-size: 1.05rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: .3s ease-in-out;
    text-align: left;
}

.tags .view_all_button:hover,
.tags .add:hover,
.tags .tag:hover {
    /* background-color: grey; */
    background-color: white;
    color: black;
    /* color: white; */
    /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.tags .view_all_button:active,
.tags .add:active,
.tags .tag:active {
    background-color: var(--deep-colour);
    color: white;
}

.tags .view_all_button:focus-visible,
.tags .add:focus-visible,
.tags .tag:focus-visible {
    outline: var(--deep-colour) solid 2px;
}

.tags .view_all_button:focus,
.tags .add:focus,
.tags .tag:focus {
    /* background-color: var(--deep-colour); */
    background-color: white;
    color: black;
    /* color: white; */
    /* box-shadow: 0 5px 20px grey; */
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.tags .view_all_button:active,
.tags .add:active,
.tags .tag:active {
    /* background-color: var(--deep-colour); */
    background-color: white;
    color: black;
    /* color: white; */
    /* box-shadow: 0 5px 20px grey; */
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.btn-check:focus + .tags .tag {
    background-color: var(--deep-colour);
    color: white;
    box-shadow: 0 5px 20px red;
}

.tags .view_all_button,
.tags .add {
    background-color: var(--light-font-colour);
    text-align: center;
}

.tags .allLview_all_buttonabels,
.tags .tag {
    margin-bottom: .75em;
}

.tags div.verticalButtonGroup {
    width: 8em;
}

.tag:not(.add),
.view_all_button {
    /* background-color: var(--light-deep-colour); */
    border-color: var(--light-deep-colour);
}

.add {
    cursor: pointer;
    background-color: rgb(24, 167, 167);
    border: 2px solid rgb(32, 32, 145);
}