#period-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 10rem;
    color: var(--light-font-colour);
    background-color: var(--deep-colour);
}

#period-banner i {
    font-size: 2em;
    cursor: pointer;
}

#period-banner .Link {
    margin: 0 3em;
}

#period-banner h1,
#period-banner p {
    margin: 0;
}

#period-banner p {
    font-size: 1.25em;
    font-style: italic;
}

.Link {
    color: inherit;
    text-decoration: none;
}