:root {
  --deep-colour: hsl(0, 0%, 20%);
  --light-header-colour: hsl(0, 0%, 100%);
  --light-font-colour: hsl(0, 0%, 80%);
  --dark-header-colour: hsl();
  --dark-font-colour: hsl();
}

.App {
  display: grid;
  height: 100vh;
}