div.modal-body,
div.modal-header {
    padding: 1.5rem;
}

/* not working. trying to impleted glassmorphism */
.assignment_editor div.modal-content {
    background-color: red;
    fill-opacity: .25;
    opacity: .5;
}

.modal p {
    margin: 0;
}

.modal i {
    margin-right: .5em;
}

.modal header .title {
    margin-left: .75rem;
}

/* .modal_title,
.modal_type {
    margin-left: ;
} */

.modal .modal_courses {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: .5em;
}

.modal .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

button.attach_button,
button.dropdown_toggle {
    margin: 0;
}

.modal .period_buttons > label.period_button {
    padding: .25em;
    width: 2.5em;
}

.modalRow, .attachments {
    align-items: center;
}

.attach_button {
    margin-right: 2rem;
}