.bar {
    display: flex;
    align-items: center;
    margin: .75em 0 1em;
}

.bar i {
    margin-right: 1em;
    margin-left: .5em;
    font-size: 1.5em;
}

.bar .title {
    flex-grow: 1;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    margin: 0;
}