@import '../../App.css';

.group {
    margin-bottom: 3em;
    width: auto;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.group.dragging {
    background-color: var(--light-header-colour);
    color: var(--light-header-colour);
    border: 4px dotted rgb(50 120 205);
}