:root {
  --deep-colour: hsl(0, 0%, 20%);
  --light-header-colour: hsl(0, 0%, 100%);
  --light-font-colour: hsl(0, 0%, 80%);
  --dark-header-colour: hsl(0, 0%, 30%);
  --dark-font-colour: hsl(0 0 5);
  --light-deep-colour: hsl(0, 38%, 11%);
}

.App {
  display: grid;
  height: 100vh;
}

.App > header {
  box-sizing: border-box;
  height: 6rem;
}

.App > footer {
  box-sizing: border-box;
  height: 4rem;
}

.App #content {
  height: calc(100vh - 10rem);
}