#sidebar {
    display: flex;
    background-color: hsl(0, 0%, 80%);
    z-index: 2;
    transition: .5s;
    /* left: 0; */
    flex: 0 0 1.5rem;
}

#side-modal {
    color: transparent;
    width: 0vw;
    transition: ease-in-out .5s;
}

#bar {
    background-color: transparent;
    height: 100%;
    width: 3rem;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    transition: ease-in-out .5s;
}

/* ===== HOVER EFFECTS ===== */
#bar:hover {
    background-color: var(--deep-colour);
    color: var(--light-header-colour);
    cursor: pointer;
}