@import '../../../App.css';

.tabs {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.tabs div.btn-group-vertical {
    height: calc(100vh - 10rem);
}

.tabs p {
    transform: rotate(90deg);
    transform-origin: top;
    text-align: right;
    position: relative;
    left: 2rem;
    top: 5rem;
    margin: 0;
}

.tab:not(.add) {
    background-color: aqua;
    border: 2px solid blue;
    flex-grow: 1;
    position: relative;
    left: -50px;
}

.add {
    cursor: pointer;
    background-color: rgb(24, 167, 167);
    border: 2px solid rgb(32, 32, 145);
    position: relative;
    left: -50px;
}