@import '../../../App.css';

.tabs {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.tabs div.verticalButtonGroup {
    width: 7.5em;
}

.tabs p {
    transform: rotate(90deg);
    transform-origin: top;
    text-align: right;
    position: relative;
    left: 2rem;
    top: 5rem;
    margin: 0;
}

.tab:not(.add),
.allLabels {
    background-color: var(--light-deep-colour);
    border-color: var(--light-deep-colour);
}

.add {
    cursor: pointer;
    background-color: rgb(24, 167, 167);
    border: 2px solid rgb(32, 32, 145);
}