#banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4vw;
    background-color: var(--deep-colour);
    color: var(--light-font-colour);
}

#banner > section {
    cursor: pointer;
}

#user #name,
#date #day {
    color: var(--light-header-colour);
}

#user #name,
#date #month {
    font-size: 1.25rem;
    font-weight: 900;
}